.App {
  width: 400px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.TaskList__container {
  display: flex;
  border: 1px solid #000;
  justify-content: space-between;
  margin: 8px 0;
}

.TaskList__text {
  margin-left: 8px;
  font-size: 24px;
  overflow: hidden;
}

.TaskList__remove {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
}

.TaskList__done {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
}

.TaskList__img {
  width:36px;
  cursor: pointer;
}

.TaskList__btns {
  display: flex;
}

.TaskList__text_completed {
  text-decoration: line-through;
}

.TaskListAddItemForm {
  margin-top: 16px;
}
      
.TaskListAddItemForm__addTaskBtn {
      border: 2px solid #000;
      background-color: #fff;
      padding: 5px 10px;
      margin-left: 8px;
  }

.TaskListAddItemForm__addTaskInput {
      width: 290px;
      padding: 5px 10px;
  }

  .TaskListSearchForm {
    margin-bottom: 16px;
  }
  .TaskListSearchForm__btn {
        background-color: #fff;
        border: 2px solid #000;
        padding: 5px 10px;
        margin-left: 8px;
    }

    .TaskListSearchForm__search {
        width: 195px;
        padding: 5px 10px;
    }

    .TaskListSearchForm__all_active {
        background-color: green;
        color: #fff
    }

    .TaskListSearchForm__active_active {
        background-color: green;
        color: #fff
    }

    .TaskListSearchForm__done_active {
        background-color: green;
        color: #fff
    }

